!     Supported types for <value> and <defaultvalue> are:
!     \begin{description}
!     \item \texttt{integer(ESMF\_KIND\_I4), intent(out)}
!     \item \texttt{integer(ESMF\_KIND\_I8), intent(out)}
!     \item \texttt{real (ESMF\_KIND\_R4),   intent(out)}
!     \item \texttt{real (ESMF\_KIND\_R8),   intent(out)}
!     \item \texttt{logical,                 intent(out)}
!     \item \texttt{character (len = *),     intent(out)}
!     \end{description}