#undef  ESMF_METHOD
{% set pname = "ESMF_Attribute"~set_or_get~proc_suffix~et~t.esmf_suffix %}
{% if d %}
  {% set pname = pname~meta['LIST_TOKEN'] %}
{% endif %}
#define ESMF_METHOD "{{ pname }}()"
subroutine {{ pname }}{{ arglist }}
