! !STATUS:
!     The following parameters were removed in ESMF version 8.1.0:
!     \begin{itemize}
{% for removed_parameter in removed_parameters %}
!     \item \texttt{ {{ removed_parameter }} }
{% endfor %}
!     \end{itemize}