# Compiled source #
###################
*.pyc

# Misc #
########
*~
*.orig
*.log
#.Log
PET*
*.stdout
*.out
*.vtk
*.csv

# ESMPy build and docs #
########################
build
doc/esmpy_doc
src/esmpy.egg-info
examples/notebooks/esmpy-data

# notebooks #
#############
examples/notebooks/.ipynb_checkpoints/
examples/notebooks/*.nc
examples/notebooks/*.rh
examples/notebooks/*.mp4
