# Compiled source #
###################
*.pyc

# Misc #
########
*~
*.orig
*.log
#.Log
PET*
*.stdout
*.out
*.vtk
*.csv

# ESMPy build and docs #
########################
build
dist
doc/esmpy_doc
src/ESMPy.egg-info
examples/data
src/esmpy/test/data
examples/notebooks/ESMPy-data
src/esmpy/test/regrid_from_file/data

# notebooks #
#############
examples/notebooks/.ipynb_checkpoints/
