# Compiled source #
###################
*.pyc

# Misc #
########
*~
*.orig
*.log
#.Log
PET*.
*.stdout
*.out
*.vtk
*.csv
*.nc

# Eclipse #
###########
*.project
*.pydevproject
*.settings

# ESMPy build and docs #
########################
build
doc/esmpy_doc
src/ESMF/interface/esmfmkfile.py