# TestGrid2D.rc
#
# This file contains the grid specifications for the Test Harness.
# Requirements:
# See documentation for further details of the descriptor syntax.
#################################################################################

map_type: REGRID

################################################################################
# grid | source | grid    |    grid   | grid  | units | destination | 
# rank |  tag   | spacing | dimension | range |       |    tag      |
################################################################################
# Grid specification for regridding


#rank spacing  size  range (min/max)  units
map_regrid::
# example of a pair of 2D periodic grids 
#
2   SRC    UNIFORM_PERIODIC   120    -3.14159  3.14159    RADIANS   
&          UNIFORM_POLE        90    -1.57     1.57       RADIANS   
&   DST    UNIFORM_PERIODIC   120  -170      170          DEG_E   
&          GAUSSIAN_POLE       88   -88       88          DEG_N   
&   FUNCTION    CONSTANT  2.0 0.1    END
#
2   SRC    UNIFORM   400  -1000  1200      km        
&          UNIFORM   200  -500    600      km        
&   DST    UNIFORM   200  -800    500      km      
&          UNIFORM   100  -300    300      km    
&   FUNCTION   COORDINATEX   5.0  0.1    END
::

