# grid_rectilinear.rc
#
# This file contains the grid specifications for the Test Harness.
# Requirements:
# See documentation for further details of the descriptor syntax.
#################################################################################

grid_type: RECTILINEAR

# regular rectilinear Grid specification - Specify the A grid, other staggers are 
# calculated from that.
grid::
#rank spacing  size  range (min/max)  units

3  'UNI'  120  -3.14159  3.14159  'RAD'   'UNI'  90  -1.57  1.57  'RAD'   'UNI'  20  0  4000  'METERS'
3  'UNI'  120  -180   180  'DEG_E'  'GAU'  88  -88   88   'DEG_N'  'UNI'  20  0  4000  'METERS'
::
