# TestGrid2D.rc
#
# This file contains the grid specifications for the Test Harness.
# Requirements:
# the grid specification requires a source and destination grid. Each grid 
# specification requires the rank, the grid type for that axis, the size of 
# that axis, the range (min,max) of that axis, and units. 
# Acdeptable values for grid type include: UNI, UNIFORM, GAUSS, GAUSSIAN, and
# the suffixes _POLE and _PERIODIC.
#
# Acdeptable values for test function include:
# 2D: CONSTANT, COORDINATEX, COORDINATEY, SPHERICAL_HARMONIC
# 3D: CONSTANT, COORDINATEX, COORDINATEY, COORDINATEZ
#
# See documentation for further details of the descriptor syntax, including test 
# function parameters.
#################################################################################

map_type: REGRID

################################################################################
# grid | source | grid    |    grid   | grid  | units | destination | 
# rank |  tag   | spacing | dimension | range |       |    tag      |
################################################################################
# Grid specification for regridding


#rank spacing  size  range (min/max)  units
map_regrid::
# example of 2D grids 
#
# rank 2 example in rads
2   SRC    UNIFORM_PERIODIC   120    -3.1415927  3.1415927    RADIANS   
&          UNIFORM_POLE        90    -1.5707963  1.5707963    RADIANS   
&   DST    UNIFORM_PERIODIC   120    -3.0717     3.0717       RADIANS 
&          GAUSSIAN_POLE       88    -1.43       1.43         RADIANS 
&   FUNCTION   COORDINATEX  5.0  0.1    END

# rank 2 example in degrees
2   SRC    UNIFORM_PERIODIC   120    -180      180    DEG_E   
&          UNIFORM_POLE        90     -90       90    DEG_N
&   DST    UNIFORM_PERIODIC   120    -170      170    DEG_E   
&          GAUSSIAN_POLE       88     -88       88    DEG_N   
&   FUNCTION   COORDINATEY  5.0  0.1    END
::

