&delayout index = "A", delayoutconfig = "1DX", delayoutString =	"(/ npets, 1 /)" /
&delayout index = "B", delayoutconfig = "1DY", delayoutString = "(/ 1, npets /)" /
&delayout index = "C", delayoutconfig = "2D", delayoutString = "(/ npets/(1 + mod(npets+1,2)), (1 + mod(npets+1,2)) /)"/


! $Id: ESMF_RegridDELayout.rc,v 1.3 2006/01/18 18:06:24 svasquez Exp $
