! $Id: ESMF_RegridTestList.rc,v 1.6 2007/08/17 18:29:03 cdeluca Exp $
This is the list of Regrid tests.
When adding tests do not leave blank lines between tests.
The tag behind the test string must be included. It is used to count the number of test by
the nightly build script.
start_of_tests
CBAABBAA EX_removeUTest
AAAAAAAA EX_removeUTest
BAAACCAA EX_removeUTest
CAAAAAAA EX_removeUTest
DAAACCAA EX_removeUTest
DBAACCAA EX_removeUTest
BBBBBBAA EX_removeUTest
CACCCCAA EX_removeUTest
DBAAAAAA EX_removeUTest
AAAAAAAA EX_removeUTest
end_of_tests

Each letter and position determines the test argument for each unit test.

First - See File: ESMF_RegridFunctions.rc

Second - See File: ESMF_RegridMethod.rc

Third - See File: ESMF_IGridHorzStagger.rc for source

Fourth - See File: ESMF_IGridHorzStagger.rc for destination

Fifth - See File: ESMF_RegridDELayout.rc for source

Sixth - See File: ESMF_RegridDELayout.rc for destination

Seventh - See File: ESMF_RegridHalo.rc for source halo

Eigthth - See File: ESMF_RegridHalo.rc for destination halo
