&function
 index = "A", value = 1, domain = 2, functionString = "f=x+y"	/   			        Domain: Regional
&function
 index = "B", value = 2, domain = 2, functionString = "f=2+cos(pi*r/L)"	/                  	Domain: Regional
&function
 index = "C", value = 3, domain = 1, functionString = "f=2+(cos(theta))**2 * cos(2*phi)" /      Domain: WholeGlobe
&function
 index = "D", value = 4, domain = 1, functionString = "f=2+ (sin(2*theta))**16 * cos(16*phi)"/  Domain: WholeGlobe
! $Id: ESMF_RegridFunction.rc,v 1.4 2006/01/18 18:06:24 svasquez Exp $

This file converts the Function option to an integer.
