&halo index = "A", value = 0, haloString = "0" /
&halo index = "B", value = 1, haloString = "1" /
&halo index = "C", value = 2, haloString = "2" /
&halo index = "D", value = 3, haloString = "3" /
&halo index = "E", value = 4, haloString = "4" /
&halo index = "F", value = 5, haloString = "5" /
&halo index = "G", value = 6, haloString = "6" /

! $Id: ESMF_RegridHalo.rc,v 1.2 2006/01/18 18:06:24 svasquez Exp $
This file converts the test selection to halo width.
