##############################################
####  ESMX Data Comp Test Configuration  #####
##############################################

logKindFlag:            ESMF_LOGKIND_MULTI
globalResourceControl:  .true.

ESMX_log_flush:        .true.

ESMX_component_list:   ATM OCN
ESMX_attributes::
  Verbosity = high
::

ATM_model:            ESMX_Data
ATM_attributes::
  Verbosity = high
::

ATM_import_fields::
  sea_surface_temperature 2 260 280
::

ATM_export_fields::
  precipitation_flux 2 0.000024
::

OCN_model:            ESMX_Data
OCN_attributes::
  Verbosity = high
::

OCN_import_fields::
  precipitation_flux 2 0 1
::

OCN_export_fields::
  sea_surface_temperature 2 273
::

startTime:  2010-06-01T00:00:00
stopTime:   2010-06-01T01:00:00

runSeq::
  @3600
    ATM -> OCN
    OCN -> ATM
    ATM
    OCN
  @
::

