# These are read in by the ESMF Config object and used
# to create the default igrid used by the example code.
#
# Lines starting with # are comments

# Number of Grid cells in each direction
I Counts: 10
J Counts: 40



