# These are read in by the ESMF Config object and used
# to create the default igrid used by the example code.
#
# Lines starting with # are comments

# Number of Grid cells in each direction
I Counts: 10
J Counts: 40

# Coordinate information for the Grid
X Min: 0.0
Y Min: -180.0
X Max: 90.0
Y Max: 180.0

