# FieldBundle test Harness Config file

# test class
test_class: FIELD 

# request extra report
#	-2 = debug dump
#	-1 = report test failures 
# 	 0 = no output
#	 1 = report successful tests
#	 2 = report both successes and failures.
test_report: -2 

# descriptor file for the nonexhaustive case
nonexhaustive::
#  'nonexhaustive_descriptor0.rc'
   'nonexhaustive_descriptor.rc'
::   # end of list

# descriptor files for the exhaustive case
exhaustive::
   'exhaustive_descriptor.rc'
:: # end of list

